#list-main,
#list-videos{
	display: flex;
	flex-direction: column;
	&.padding{
		padding: 1em;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
	}
	.list{
	    flex-basis: 95%;
	    margin-bottom: 1em;
	    overflow: auto;
		.video{
			&:hover{
				.thumb{
    			opacity: 0.9;
    		}
    		&:active{
				.thumb{
    				opacity: 1;
    			}
    		}
    	}
	    display: flex;
	    cursor: pointer;
	    padding-bottom: 1em;
	    .thumb{
	    	opacity: 0.7;
	    }
			.thumb,
			.details {
				flex-grow: 1;
				width: 50%;
				display: inline-block;
			}
			.details{
				margin-left: 10px;
				display: flex;
			  	flex-direction: column;
				font-family: 'Titillium Web', sans-serif;
				h4{
				  font-size: 1.4em;
					color: $red-color;
					margin-top: 0;
					flex-basis: 90%;
				}
				.views{
					color: $gray-color;
					font-weight: 600;
					margin-bottom: 0;
					flex-basis: 10%;
					font-size: 0.9em;
					&:before{
						background: url("../../assets/images/icon_views_gray.png") no-repeat;
						width: 25px;
						height: 20px;
						content: "";
						display: inline-block;
						margin-right: 5px;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.more-videos{
		text-align: center;
		button{
			color: $text-default-color;
			font-size: 11px;
			width: 100%;
			font-family: 'Lato', sans-serif;
			text-transform: uppercase
		}
	}
	.block-with-text {
	  overflow: hidden;
	  position: relative; 
	  line-height: 1.2em;
	  max-height: 3.6em; 
	  margin-right: -1em;
	  padding-right: 1em;
	  &:before {
		  content: '...';
		  position: absolute;
		  right: 0;
		  bottom: 0;
		}
		&:after {
		  content: '';
		  position: absolute;
		  right: 0;
		  width: 1em;
		  height: 1em;
		  margin-top: 0.2em;
		  background: white;
		}
	}
}

@media (max-width: 480px) {
	#list-main,
	#list-videos{
		.list{
			overflow: initial;
			> div{
				padding: 0;
			}
			.video{
				.details{
					h4{
						font-size: 1em;
					}
					.views{
						font-size: 0.8em;
						&:before{
						    background-size: 17px;
						    width: 17px;
						    height: 17px;
						}
					}
				}
			}
		}
	}
}